<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to Dinner Picker!</h1> 
    <form action="/recommend", method="post">
        <p>Please select a cuisine</p>

        <input type="radio" id="mexican" name="cuisine" value="Mexican">
        <label for="mexican">Mexican</label><br>

        <input type="radio" id="italian" name="cuisine" value="Italian">
        <label for="italian">Italian</label><br>

        <input type="radio" id="american" name="cuisine" value="American">
        <label for="american">American</label><br>

        <input type="radio" id="thai" name="cuisine" value="Thai">
        <label for="thai">Thai</label><br>

        <br>
        <input type="submit" id="recommend" value="Recommend">
    </form>
</body>
</html>