<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to Dinner Picker!</h1>
    <form action="/recommend" method="post">
        <p>Please select a cuisine</p>
        <button type="submit" name="cuisine" value="mexican">Mexican</button>
        <button type="submit" name="cuisine" value="italian">Italian</button>
        <button type="submit" name="cuisine" value="american">American</button>
        <button type="submit" name="cuisine" value="asian">Asian</button>
        <button type="submit" name="cuisine" value="bakery">Bakery</button>
        <button type="submit" name="cuisine" value="pizza">Pizza</button>
    </form>
</body>
</html>
